PELICAN_IMAGE=ghcr.io/pelican-dev/panel:v1.0.0-beta33
MARIADB_IMAGE=mariadb:11.4.5
REDIS_IMAGE=redis:7.4.2

APP_URL=http://localhost:8081
APP_ENV=production
APP_DEBUG=false

DB_CONNECTION=mariadb
DB_HOST=mariadb
DB_PORT=3306
DB_DATABASE=panel
DB_USERNAME=pelican
DB_PASSWORD=pelican
MARIADB_ROOT_PASSWORD=pelicanroot

CACHE_STORE=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_USERNAME=null
REDIS_PASSWORD=null

MAIL_MAILER=log
MAIL_FROM_ADDRESS=panel@localhost
MAIL_FROM_NAME=OberynHost Local

DEV_ADMIN_USERNAME=oberynn
DEV_ADMIN_EMAIL=oberynn@localhost
DEV_ADMIN_PASSWORD=dcad3e4fa0a16729dfb0b05429b8d50e8aeb32ba5a21b8f226a5c079ceb89bef
